/* sets background images for each html page */
.aboutBody {
    background-image: url('websiteImages/aboutBG.jpg')
}

.contactBody {
    background-image: url('websiteImages/contactBG.png')
}

.portfolioBody {
    background-image: url('websiteImages/portfolioBG.gif')
}

/* index (mainpage) css */

.containerMain {
    margin: 80px auto auto auto;
    max-width: 540px;
    padding: 17px;
    border: 10px double rgba(245, 120, 228, 0.979);
    background-color: rgba(51, 51, 51, 0.959);
    color: rgb(12, 221, 221);
}

.profileIMG {
    margin: 125px auto auto auto;
    border: 10px inset rgba(74, 234, 255, 0.979);
}

.containerBottomR {
    margin: 25px auto auto auto;
    padding: 10px;
    border: 10px double rgba(255, 252, 74, 0.979);
    background-color: rgba(51, 51, 51, 0.945);
    color: rgb(221, 12, 186);
}

.containerBottomL {
    margin: 125px auto auto auto;
    padding: 10px;
    font-size: 16px;
    border: 10px double rgba(74, 234, 255, 0.979);
    background-color: rgba(51, 51, 51, 0.945);
    color: rgb(243, 247, 39);
}

    /* portfolio font for mainpage */
.portFont {
    font-family: 'Architects Daughter', cursive;
    font-size: 26px;
    color:rgb(12, 221, 221);
    font-style: italic;
}

    /* textwrap for mainpage containers */
.textWrap {
    float: right;
    margin: 10px;
    margin-left: 30px;
}

.textWrapLeft{
    float: left;
    margin: 30px;
    margin-right: 60px;
    margin-top: 40px;
}

.breaker {
    margin: 10px 15px 20px 15px;
    max-width: 95%;
    max-height: 100%;
    display: block; /* remove extra space below image */
    position: relative;
}

    /* animation for hover over text */
.orangeBoy:hover {
    background-color: green;
}

/* contactform css*/
.contactContainer {
    max-width: 500px;
    padding: 15px;
    padding-bottom: 80px;
    border: 8px inset rgb(134, 235, 168);
    background-color: rgba(51, 51, 51, 0.781);
    margin: 125px auto auto auto;
    color: rgb(240, 240, 240);
}
    /*code for send button animation */
.sendbuttonPre {
    position: absolute; 
    top: 0; 
    left: 0;
    opacity: 100;
    z-index: 3;
}
.sendbuttonPre:hover {
    opacity: 0;
    z-index: 1;
}

.sendbutton{
    position: absolute; 
    top: 0; 
    left: 0;
    opacity: 0;
    z-index: 2;
}
.sendbutton:hover {
    background-image: url("Assets/contactpageIMG/email.gif");
    opacity: 100;
    z-index: 3;
}

.footer {
    position: fixed;
    left: -10px;
    bottom: -10px;
    width: 105%;
    border: inset 6px rgb(134, 235, 168);
    background-color: rgba(54, 54, 54, 0.829);
    color: rgb(128, 128, 128);
    text-align: center;
    font-size: 16px;
  }

/* portfolio.html css code */
.portfolioContainer {
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 15px;
    border: 8px ridge rgba(245, 120, 228, 0.979);
    background-color: rgba(204, 204, 204, 0.938);
    color: rgb(92, 180, 240);
    font-family: 'Gloria Hallelujah', cursive;
}
.portfolioContainer2 {
    margin-top: 300px;
    padding-right: 40px;
    border: 8px ridge rgba(120, 199, 245, 0.979);
    background-color: rgba(204, 204, 204, 0.938);
}

.portfolioIMG {
    margin: 7px
}